:root{
    --primary-color:black;
    --secondary-color: #bda321;
    --content-max-width: 900px;
    --header-background-color:#2993c5; 
    --list-color-one:#3296c49d;
    --list-color-two:#2c8ebb4d;
}


html, body {
    
    max-width: 100%;
    overflow-x: hidden;
}

header, main, footer{
    margin: 0 auto;
    font-family: "Lexend", sans-serif;
}

main{
    max-width: var(--content-max-width);
}

footer{
    margin-top: 2rem;
    padding: 2rem;
    background-color: var(--header-background-color);
    margin: 0;
    width: 100%;
}

#footerContainer {
    margin: 0 auto;
    display: grid;
    text-align: center;

    max-width: var(--content-max-width);
}