main #cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    gap: 2rem;
}


#cards section{

    text-align: center;
    border: solid black;

    display: grid;
    grid-template-rows: auto;
    padding: 1rem;
}

#cards section a{
        text-decoration: none;
        color: black;
        font-weight: bold;
        padding: .5rem;
        margin: 0;
    }
#cards section p{
        padding: .5rem;
        margin: 0;
    }
#cards section h3{
        padding: .5rem;
        margin: 0;
    }

#cards section a:hover{
        color: white;
        background-color: var(--secondary-color);
        transition: 300ms;
    }

#cards section img{ 
    padding: 1rem;
    display: block;
    margin: 0 auto;
    max-width: 80%;
    max-height: 100px;
    height: auto;
    width: auto;
}

.menu{
    margin: 1rem auto;
    text-align: center;
}

.menu button{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    padding: .5rem;
    height: 3rem;
    width: 3rem;
    font-weight: bold;
    border: none;
    background-color: var(--header-background-color);
    margin: .5rem;
}

#cards.list{
    grid-template-columns: 1fr;
    row-gap: 0;
}

#cards.list section:nth-child(odd){
    background-color: var(--list-color-two);
    }

#cards.list section img{
        display: none;
    }
    
#cards.list section p, #cards.list section a, #cards.list section h3{
        /* font-size: ; */
        padding: 1rem;
        margin: auto 0;
        text-align: left;
    }

#cards.list section{
        background-color: var(--list-color-one);
        border: none;
        grid-template-columns:  1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

@media only screen and (max-width: 32rem) {
    #cards.list section{
                padding: .1rem;
            }

    #cards.list section p, section a, section h3{
                padding: .2rem;
                font-size: x-small;
            }
}