main #cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem;
}

#cards section{
    /* width: 320px; */
    text-align: center;
    border: solid black;
}

#cards section{
    display: grid;
    grid-template-rows: 3fr .5fr .5fr .5fr;
}

#cards section img{ 
    padding: 1rem;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    /* width: auto; */
    /* height: auto; */
}