
#heroimage img{
    max-width: 100%;
    padding: .5rem 0;
    filter: blur(1.5px);
}

#heroimage {
    position: relative;
    /* text-align: center; */
}

#heroText{
    position: absolute;
    left: 1rem;
    top: 1rem;
    max-height: 100%;
}

#heroText h2{
    font-size: 1.5rem;
    font-weight: 600;
}

#heroText h3{
    font-style: italic;
    font-size: 1rem;
    font-weight: 500;
}

#heroimage #joinButton{
    position: absolute;
    font-weight: 600;
    text-transform: uppercase;
    background-color: var(--secondary-color);
    color: white;
    text-decoration: none;
    border: none;
    padding: 1rem;
    right: 1rem;
    bottom: 2rem;
    border-radius: .2rem;
}

@media only screen and (min-width: 32rem) {
     #heroText h2{
        font-size: 3rem;
        font-weight: 800;
    }

    #heroText h3{
        font-style: italic;
        font-size: 1.5rem;
    }
    #heroimage img{
    max-width: 100%;
    padding: .5rem 0;
    filter: blur(2px);
}
}
