#gridFlowSection{
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

.homeCard{
    background-color: var(--header-background-color);
    max-width: 100%;
}

.homeCard h3{
    padding: .5rem;
    margin: auto 0;
}

.homeCard img{
    max-width: 100%;
}

.homeCard#currentEvents{
    grid-column: 1/3;
}

.homeCard#cardHighlight{
    grid-column: 1/5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

@media only screen and (max-width: 32rem) {

    #gridFlowSection{
        grid-template-columns: 1fr;
    }
    .homeCard#cardHighlight{
        grid-column: 1/2;
        grid-template-columns: 1/2;
    }

}