

main{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    margin-bottom: 3rem;
    h1{
        grid-column: 1/-1;
    }

}

form{
    label{
        display: grid;
        padding: 1rem 0;
        gap: .1rem;
    }

    label#text{
        padding: 1rem;
    }

    input,textarea,select{
        padding: 1rem;
        border: 1px solid rgb(194, 176, 176);
        border-left-color:#555;
        border-left-width: 5px;
        border-radius: .5rem;
    }

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    input[type=submit]{
        border-left-width: 1px;
    }

    textarea{
        resize: none;
        height: 10rem;
    }

    #hide{
        display: none;
    }

    #submitButton{
        width: 100%;
    }

    input:required {border-left-color: #d70000;}
    input:focus {border-left-color: black; outline: none;}
    input:required:valid{border-left-color: var(--header-color)}
}




#membershipLevels{
    display: grid;
    gap: 1rem;

    .membershipCard{
        height: 100%;
        margin: 0 auto;
        aspect-ratio: 16/10;
        background-color: aquamarine;
    }
}