

main, .throaway{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    margin-bottom: 3rem;

}

main h1{
        grid-column: 1/-1;
    }

form label{
    display: grid;
    padding: 1rem 0;
     gap: .1rem;
}
form label#text{
    padding: 1rem;
}

form input,form textarea,form select{
    padding: 1rem;
    border: 1px solid rgb(194, 176, 176);
    border-left-color:#555;
    border-left-width: 5px;
    border-radius: .5rem;
}

form input[type="number"]::-webkit-outer-spin-button,
form input[type="number"]::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

form input[type=submit]{
    border-left-width: 1px;
}

form textarea{
    resize: none;
    height: 10rem;
}

form #hide{
    display: none;
}

form #submitButton{
    width: 100%;
}

form input:required {border-left-color: #d70000;}
form input:focus {border-left-color: black; outline: none;}
form input:required:valid{border-left-color: var(--header-color)}

#membershipLevels{
    display: grid;
    gap: 3rem;
}

#membershipLevels .membershipCard{
    width: 75%;
    padding: 1rem;
    max-width: 100%;
    margin: 0 auto;
    border: .5rem solid;
    border-radius: 1rem;
    animation: borderSlide 30s infinite;
}

#membershipLevels .np{
    animation: npSlide 30s infinite;
}

#membershipLevels .bronze{
    animation: bronzeSlide 30s infinite;
}

#membershipLevels .silver{
    animation: silverSlide 30s infinite;
}

#membershipLevels .gold{
    animation: goldSlide 30s infinite;
}

@keyframes borderSlide{
    0%, 100% {border-color: #d70000 transparent }
    50% {border-color: transparent #d70000 }
}

@keyframes npSlide {
    0%, 100% {border-color: #8a8a8a transparent }
    50% {border-color: transparent #8a8a8a }
}

@keyframes bronzeSlide {
    0%, 100% {border-color: #e9810a transparent }
    50% {border-color: transparent #e9810a }
}

@keyframes silverSlide {
    0%, 100% {border-color: #dcdcdc transparent }
    50% {border-color: transparent #dcdcdc }
}

@keyframes goldSlide {
    0%, 100% {border-color: #d39f00 transparent }
    50% {border-color: transparent #d39f00 }
}

