#heroimage{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 2px solid black;
    background: #000000;
    background: linear-gradient(51deg,rgba(0, 0, 0, 1) 0%, rgba(235, 29, 29, 1) 49%);
    align-items: center;
    border-radius: .5rem;
}

#heroimage img{
    padding: 2rem;
    grid-column: 3/5;
    max-height: 450px;
}

#heroimage #herotext{
    padding: 2rem;
    font-size: 3rem;
    color: white;
    grid-column: 1/3;
    z-index: 2;
    max-width: 100%;
}

#library-link a{
    text-decoration: none;
    
}

#library-link h3{
    font-size: x-large;
    padding: 1rem;
    border: 3px solid black;
    border-radius: .5rem;
    color: black;
    transition: background-color 300ms;
    background-color: white;
}

#library-link h3:hover{
    transition: background-color 300ms;
    background-color: rgba(235, 29, 29, 1);
}

#library-link h3,#library-link p{

    margin:1rem 0;
}

#library-link p{
    font-size: larger;
    padding-left: .5rem;
}


@media screen and (max-width: 40rem) {
    #heroimage{
    grid-template-columns: 1fr 1fr;
    }

    #heroimage img{
        padding: 2rem;
        grid-column: 1/3;
    }
}