:root{
    --primary-color: #cd0b0b;
    --secondary-color: #457f8d;
}


main,header,footer{
    max-width: 600px;
    margin: 0 auto;
    font-family: "Lexend", sans-serif;
}

main{
    display: grid;
    gap: 1rem;
    padding-bottom: 3rem;
}

main h2{
    text-decoration: underline;
    text-underline-offset: .5rem;
    color: var(--primary-color);
    font-style: italic;
}

main section{
    padding: .5rem 1rem ;
    box-shadow: 5px 5px 1px var(--secondary-color),3px 3px 10px var(--secondary-color);
    border-radius: 10px;
}

main section .roman{
    font-weight: bold;
    font-style: italic;
    color: var(--primary-color);
}

main section p{
    font-size: larger;
}

#primaryColor{
    color: white;
    padding: 1rem;
    background-color: var(--primary-color);
}

#secondaryColor{
    margin-top: 1rem;
    color: white;
    padding: 1rem;
    background-color: var(--secondary-color);
}

#primaryColor h3,#secondaryColor h3{
    text-decoration: underline;
    text-underline-offset: .5rem;
    font-style: italic;
}

#wireframes{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 3rem;
}

#wireframes img{
    border: 3px black solid;
    padding: .1rem;
}

#wireframes h2{
    grid-column: 1/-1;
}