#youtubeVideos, #videoPreview{
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
}

#videoPreview{
    margin-top: 1rem;
}

#youtubeVideos a , #videoPreview a{
    padding: 0 1rem 1rem 1rem;
        text-decoration: none;
}


#youtubeVideos img , #videoPreview img{
    aspect-ratio: 16/9;
    object-fit: cover;
    width: 100%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.361);
    border: 1px black solid;
    border-radius: 4px;
}

#youtubeVideos h3 , #videoPreview h3{
    max-width: 100%;
    color: black;
}

.videoCard{
    width: 91%;
    border-radius: 5px;
    border: 3px black solid;
    position: relative;
}

#youtubeButtons{
    margin: 1rem 0;
    display: flex;
}

#youtubeButtons button{
    padding: 1rem;
    /* max-width: 450px; */
    margin: 1rem;
    font-weight: bold;
    font-size: larger;
    background-color: white;
    border-radius: .3rem;
}

#youtubeButtons.active{
    box-shadow: 0px 0px -5px black;
}

#youtubeButtons p{
    align-self: center;
    padding: 1rem;
}

@media only screen and (max-width: 32rem) {
    #youtubeButtons{
        display: grid;
    }
    #youtubeButtons p{
        text-align: center;
    }
    #youtubeButtons button,#youtubeButtons p{
        margin: .3rem;
    }
}