:root{
    --primary-color:black;
    --secondary-color: hsl(240, 56%, 35%);
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

header, main, footer{
    max-width: 900px;
    margin: 0 auto;
    font-family: "Lexend", sans-serif;
}

/* -----------------H E A D E R------------------- */

header{
    display: grid;
    grid-template-columns: 48px auto 44px;
    column-gap  : .7rem;
    border-bottom: 3px black solid;
}

header img{
    display: block;
    width: 100%;
    height: auto;
    margin: auto 0;
}

/* ---------------------H E A D E R  H A M B U R G E R----------------------------- */

.hamburger{
    font-size: x-large;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    padding: 1rem;
  content: "\2630";
}
.hamburger.show::before {
  content: "\00D7";
}


/* -----------------------N A V I G A T I O N   L I N K S----------------------- */
#navigation{
    grid-column: 1/4;
    display: none;
}

#navigation ul{
    padding: 0;
    display: block;
    list-style-type: none;
    transition: 300ms;
}

#navigation li {
    display: grid;
}

#navigation{
    background-color: aliceblue;
}

#navigation ul :hover{
    background-color: var(--secondary-color);
    color: white;
    transition: 300ms;
}

#navigation a{
    
    padding: 1rem;
    text-decoration: none;
    color: var(--secondary-color);
    font-size: x-large;
}

#navigation.show{
    display: block;
}

/* ------------------------------M A I N ------------------------------- */

main div, main section{
    background-color: aliceblue;
    border-radius: .5rem;
}

main h2{
    color: white;
    margin: 0;
    padding: .7rem;
    background-color: var(--secondary-color);
    text-align: center;
}
main #studentPhoto img{
    display: block;
    padding: 1rem;
    width: 90%;
    height: auto;
    margin: 1rem auto;
}

#buttons button{
    font-size: x-large;
    padding: 1rem;
}

#buttons button{
    background-color: var(--secondary-color);
    color: white;

    border: none;
    font-family: "Lexend", sans-serif;
    padding: 1rem;
    font-size: large;
}

section#filler{
    display: none;
}



/* ------------C O U R S E S    D I S P L A Y---------------- */

main #buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

main #courses button{
    border: none;
    width: 100%;
    margin: .25rem 0;
    padding: 1rem;
}

.complete{
    background-color: hsla(240, 57%, 37%, 0.8);
    color: white;
}


/* ------------------------ F O O T E R----------------------- */

footer{
    display: grid;
}

#links{
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    max-width: 300px;
}

#links img{
    padding: 1rem;
    width: 80%;
    height: auto;
}

footer span{
    width: 100%;
    text-align: center;
}


/* ----------------------D I A L O G------------------------- */

#course-details{

}

#course-details h2{
    background-color: var(--secondary-color);
}

#course-details::backdrop{
    background-color: hsla(0, 0%, 100%, 0.51);
}