:root{
    
}

header, main, footer{
    max-width: 900px;
    margin: 0 auto;
}

/* -----------------H E A D E R------------------- */

header{
    display: grid;
    grid-template-columns: 48px auto 44px;
    column-gap  : .7rem;
    border-bottom: 3px black solid;
}

header img{
    display: block;
    width: 100%;
    height: auto;
    margin: auto 0;
}

/* ---------------------H E A D E R  H A M B U R G E R----------------------------- */

.hamburger{
    font-size: x-large;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    padding: 1rem;
  content: "\2630";
}
.hamburger.show::before {
  content: "\00D7";
}


/* -----------------------N A V I G A T I O N   L I N K S----------------------- */
#navigation{
    grid-column: 1/4;

}
#navigation ul{
    padding: 0;
    width: 100%;
    list-style-type: none;
}

#navigation ul li {
    /* width: 100%;s */
    padding: 1rem;
    /* text-align: center; */
}



#navigation ul :hover{
    background-color: gainsboro;
}

#navigation ul li a{
    width: 100%;
    text-decoration: none;
    color: black;
    font-size: x-large;
}